.clock {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 100px auto;
  border: solid 2px black;
  position: relative;
}
.hour,
.minute,
.second {
  position: absolute;
  left: 50%;
  bottom: 50%;
  background-color: black;
  transform-origin: bottom;
}
.hour {
  width: 5px;
  height: 70px;
  border-radius: 5px;
  animation: hour-arrow 216000s linear infinite ;
}
.minute {
  width: 2px;
  height: 100px;
  border-radius: 3px;
  animation: minute-arrow 3600s linear infinite;
}
.second {
  width: 3px;
  height: 130px;
  border-radius: 3px;
  animation: seconds-arrow 60s linear infinite;
}
.center {
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: 10px;
  height: 10px;
  transform: translate(-50%, 50%);
  background-color: black;
  border-radius: 50%;
}
@keyframes seconds-arrow {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
@keyframes minute-arrow {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
@keyframes hour-arrow {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
