* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: sans-serif;
}
.allcontent {
  display: flex;
  width: 100%;
  height: 100%;
}
body {
  background-color: rgba(230, 230, 230, 0.995);
}

ol {
  list-style-type: none;
}
.container {
  gap: 15px;
  display: flex;
  align-items: center;
}
.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  height: 85vh;
  color: rgb(0, 0, 0);
  background-color: white;
  min-width: 300px;
  border: solid 1px #fff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.listfor {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-top: 50px;
  gap: 10px;
  position: absolute;
  left: 350px;
}
.logo {
  height: 80px;
  padding: 16px;
}
.main {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}
li {
  padding: 1rem;
  margin: 8px;
}
li:hover {
  background-color: rgb(181, 63, 87);
  color: white;
  fill: rgb(255, 255, 255);
}
.maincontent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.leftcontent {
  width: 60%;
  margin-top: 12%;
}
.firstcontent {
  width: 100%;
  height: 700px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  border: solid 1px #fff;
  margin-left: 2%;
  margin-right: 2%;
}
.firstcontenthead {
  background-color: rgb(181, 63, 87);
  width: 90%;
  height: 15%;
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  position: relative;
  bottom: 5%;
  padding-left: 4%;
  justify-content: space-around;
  color: white;
}
.firstcontenthead1 {
  font-size: 24px;
}
.firstcontenthead2 {
  font-size: 20px;
}
.seccontent {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 16px;
}
.seccontent1,
.seccontent2,
.seccontent3,
.seccontent4,
.seccontent5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 4%;
  padding-left: 4%;
  gap: 15px;
}
.short {
  width: 100%;
}
.short1 {
  width: 45%;
}
.short2 {
  width: 45%;
}
.seccontent6 {
  margin-left: 4%;
  margin-right: 4%;
}
.buttonlike {
  background-color: rgb(181, 63, 87);

  font-size: 30px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 56%;
  color: white;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  margin-right: 5%;
}
.foot1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
}
.foot11 {
  display: flex;
  color: black;
  font-weight: 700;
  gap: 25%;
}
.photo1 {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
  margin-left: 34%;
  bottom: 18%;
}
.rightcontent {
  width: 30%;
  margin-top: 12%;
}
.rightcontent1 {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 40%;
}
.firsttext {
  margin-left: 35%;
  color: rgb(152, 152, 152);
}
.sectext {
  margin-left: 35%;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 2%;
  margin-bottom: 2%;
}
.thirdtext {
  text-align: center;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.041em;
  font-size: 18px;
}

@media (max-width: 1300px) {.hidden {
  display: none;
}
  .maincontent {
    flex-direction: column-reverse;}
  .rightcontent{margin-top: 0;height: 400px;
    width: 95%;margin-left: 2%;
    margin-right: 2%;}
  .rightcontent1{height: 100%;}
.leftcontent{width: 95%;}}
@media (min-width:1300px){  .hidden {
  display: none;
}}
@media (max-width: 1100px) {
  .sidebar {
    display: none;
  }
  .hidden {
    display:block;
  }
  .listfor{left: 0px;}
}
@media (max-width:1100px) {
  .rightcontent,.leftcontent{min-width: 800px;}
}